@font-face {
    font-family: 'Luckiest Guy';
    src: url('./font/LuckiestGuy-Regular.woff2') format('woff2'),
        url('./font/LuckiestGuy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background-color: rgb(246, 218, 165)
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
.tabs{
    list-style: none;
    display: flex;
    gap: 20px;
}
.btn{
    background-color: rgb(246, 198, 110);
    border: 5px solid rgb(226, 156, 26);
    border-radius: 10px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(246, 198, 110);
}
.container{
    display: grid;
    grid-template-rows: auto 1fr;
}
.webName{
    font-family: 'Poppins','Montserrat',sans-serif;
    font-size: xx-large;
    font-weight: 900;
    color: rgb(57, 57, 57);
    letter-spacing: -2px;
}
.logoPhoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.topLeft{
    display: flex;
    gap: 10px;
    align-items: center;
}
/* body */

#content{
  display: flex;
  justify-content: center;
}
.box{
    background-color: rgb(246, 198, 110);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    gap: 50px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
}
.tagLine{
    font-family: 'Luckiest Guy', cursive;
    font-size: xx-large;
    background-color: rgb(226, 156, 26);
    padding: 10px;
    border: 10px solid rgb(189, 102, 9);
    border-radius: 50px;
    text-align: center;
    width: 75%;
    color: rgb(57, 57, 57);
}
.lines {
    font-family: 'Poppins', 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: rgb(226, 156, 26);
    padding: 30px 30px 10px 30px;
    color: rgb(57, 57, 57);
}
.by{
    font-family: 'Poppins', 'Montserrat', sans-serif;
    font-weight: 800;
    background-color: rgb(226, 156, 26);
    color: rgb(44, 44, 44);
    padding: 0 30px 30px 30px;
}

.testimonial , .timing , .location{
    border: 20px solid rgb(189, 102, 9);
    border-radius: 30px;
    width: 50%;
}
.days{
  list-style: none;
}
.timeTop , .locaTop{
    font-family: 'Poppins', 'Montserrat', sans-serif;
    font-weight: 800;
    background-color: rgb(226, 156, 26);
    color: rgb(44, 44, 44);
    padding: 30px 30px 10px 30px;
    font-size: 30px;
}
.days , .addres{
    font-family: 'Poppins', 'Montserrat', sans-serif;
    background-color: rgb(226, 156, 26);
    color: rgb(44, 44, 44);
    padding: 0 30px 30px 30px;
}
.day{
    padding-right: 10px;
    text-align: center;
}
.addres{
    text-align: center;
}
/* menu */
.menuGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.menuSubTop{
    width: 25%;
}
.item{
    border: 20px solid rgb(189, 102, 9);
    border-radius: 30px;
    width: 50%;
}
.itemTop {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: xx-large;
    background-color: rgb(226, 156, 26);
    color: rgb(44, 44, 44);
    padding: 30px;
}
.discr{
    text-align: center;
    background-color: rgb(226, 156, 26);
    color: rgb(44, 44, 44);
    font-family: 'Poppins', 'Montserrat', sans-serif;
    padding: 0 30px;
}

